body{
    background-image: url("../images/Fantasy-BG.jpg");
}

.title{
    font-size: 32px;
    color: white;
}

img{
    height: 300px;
}

.alert-field{
    color: white;
}

.btn{
    background-color: white;
    border-width: 4px;
}